﻿@using System.Globalization
@model TA.TechTest.Models.ViewModels.CustomerInvoiceViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Customer Invoice Dashboard";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        .dataGrid {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }

        .dataGrid th {
            background-color: #F7F7F7;
            font-weight: bold;
        }

        .dataGrid th, .dataGrid td {
            padding: 5px;
            border: 1px solid #ccc;
        }

        .dataGrid, .dataGrid table td {
            border: 0px solid #ccc;
        }

        .address {
            padding-left: 10px;
        }

        .dataGrid tr {
            cursor: pointer;
        }
    </style>
</head>
<body>

    @if (Model.TopLevelSummary != null)
    {
        <div>
            @Html.LabelFor(model => model.TopLevelSummary.PaidInvoicesCount) :
            @(Model.TopLevelSummary.PaidInvoicesCount)
        </div>
        <div>
            @Html.LabelFor(model => model.TopLevelSummary.PaidInvoicesMonetaryAmount) :
            @(Model.TopLevelSummary.PaidInvoicesMonetaryAmount.ToString("C", CultureInfo.CurrentCulture))
        </div>
        <br />
    }


    @if (Model.CustomerInvoiceData.Any())
    {
        <table class="dataGrid">
            <tr>
                <th>Name</th>
                <th>Most Recent Invoice Ref</th>
                <th>Most Recent Invoice Amount</th>
                <th>Outstanding Invoice Count</th>
                <th>Outstanding Invoice Monetary Total</th>
                <th>Paid Invoices Monetary Total</th>
            </tr>
            @foreach (var customer in Model.CustomerInvoiceData)
            {
                <tr onclick="GetCustomerData(@customer.CustomerId);">
                    <td>@customer.Name</td>
                    <td>@customer.MostRecentInvoiceRef</td>
                    <td>@customer.MostRecentInvoiceAmount.ToString("C", CultureInfo.CurrentCulture)</td>
                    <td>@customer.OutstandingInvoiceCount</td>
                    <td>@customer.OutstandingInvoiceMonetaryTotal.ToString("C", CultureInfo.CurrentCulture)</td>
                    <td>@customer.PaidInvoicesMonetaryTotal.ToString("C", CultureInfo.CurrentCulture)</td>
                </tr>
            }
        </table>
        <br />
    }

<div id="customerAddressInformation" style="display: none">
    <div><strong>Address</strong></div>
    <div id="customerAddressInformation1"></div>
    <div id="customerAddressInformation2"></div>
    <div id="customerAddressInformation3"></div>
    <div id="customerAddressInformation4"></div>
</div>

    @section scripts{
        <script type="text/javascript">
            function GetCustomerData(id) {
                $.get('/Home/GetCustomerInfo/' + id, {},
                    function(data) {
                        if (data != null) {
                            $("#customerAddressInformation").show();
                        $("#customerAddressInformation1").html(data.Name);
                        $("#customerAddressInformation2").html(data.Address1);
                        $("#customerAddressInformation3").html(data.Address2);
                        $("#customerAddressInformation4").html(data.Postcode);
                    }

                /*var wrapper = $("<div class=\"address\"></div>");
                wrapper.html(("<div>" + "<strong>Address</strong>" + "</div>") +
                    ("<div>" + data.Name + "</div>") +
                    " " +
                    ("<div>" + data.Address1 + "</div>") +
                    " " +
                    ("<div>" + data.Address2 + "</div>") +
                    " " +
                    ("<div>" + data.Postcode + "</div>"));

                divToReplace.html(wrapper);*/
            });
        }
        </script>
    }

</body>

</html>